.App{
  background-color: azure;
  color: rgb(132, 15, 15);
  text-align: center;
  text-decoration:double;
  text-transform: uppercase;

}

button{
  background-color: aqua;
  color: brown;
  align-items: center;
  margin: 30px;
  text-transform: uppercase;
}